.input-group .input-group-text{
    background-color: white;
}
.section4{
    background-color: rgb(30,55,75);
    margin: 0;    
    padding: 50px;       
  
    
}
.section4content{
    color: white;
    margin-top: 100px;
    padding: 50-px;
}
.now{
    
    font-weight: 900;
}
.section5{
    background-color: white;
    
}
.section6{
    
    text-decoration: none;
    font-weight: 900;
}
.button{
    background-color: yellow;
    border: none;
    padding: 10px;
    font-weight: 700;
    border-radius: 25px;
}

